<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation=
        "http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/mvc
         http://www.springframework.org/schema/mvc/spring-mvc.xsd
         http://www.springframework.org/schema/tx
         http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd
         http://www.springframework.org/schema/aop
         http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">
 
    <!-- Bean definitions go here -->
    <bean id="itemOne" class="com.sg.vendingmachine.dto.Item">
        <constructor-arg name="slotId" value="010"/>
        <constructor-arg name="itemName" value="Party Animal"/>
        <constructor-arg name="itemCost" value="3.00"/>
        <constructor-arg name="itemQuantity" value="0"/>
    </bean>
    
    <bean id="itemTwo" class="com.sg.vendingmachine.dto.Item">
        <constructor-arg name="slotId" value="011"/>
        <constructor-arg name="itemName" value="General Studies"/>
        <constructor-arg name="itemCost" value="4.00"/>
        <constructor-arg name="itemQuantity" value="5"/>
    </bean>
    
    <!--
    <bean id="itemTwo" class="com.sg.vendingmachine.dto.Item">
        <property name="slotId" value="011"/>
        <property name="itemName" value="General Studies"/>
        <property name="itemCost" value="4.00"/>
        <property name="itemQuantity" value="5"/>
    </bean>
    -->
    
    <bean id="stubDao" class="com.sg.vendingmachine.service.stubs.VendingMachineDAOStubImpl">
        <constructor-arg ref="itemOne"/>
        <constructor-arg ref="itemTwo"/>
    </bean>
    
    <bean id="stubAuditDao" class="com.sg.vendingmachine.service.stubs.VendingMachineAuditDAOStubImpl"/>
    
    <bean id="serviceLayer" class="com.sg.vendingmachine.service.VendingMachineServiceImpl">
        <constructor-arg ref="stubDao"/>
        <constructor-arg ref="stubAuditDao"/>
    </bean>
   
</beans>
